{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div>
            <a class="btn btn-primary solitary-button" href="{{ path('product_index') }}">Back to the list</a>
            </div>
            <div>
        <input class="btn btn-primary solitary-button" type="submit" value="Edit" />
        </div>
        <div>
    {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
                <input class="btn btn-primary solitary-button" type="submit" value="Delete">
            {{ form_end(delete_form) }}
            </div>
{% endblock %}
