{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product list</h1>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('product_new') }}">Create a new entry</a>
        </li>
    </ul>
    <div class="table-responsive div-table-test">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td><a class="btn btn-primary" href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
